 {
  "extends": [
    "@typhonjs-config/eslint-config/esm/2022/browser",
    "@typhonjs-fvtt/eslint-config-foundry.js",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jquery": true,
    "node": true
  },
  "rules": {
    "no-shadow": ["error", {
      "builtinGlobals": true,
      "hoist": "all",
      "allow": [
        "document",
        "event",
        "name",
        "parent",
        "status",
        "top"
      ]
    }]
  },
  "globals": {
    "Color": "readonly"
  }
}
