.dnd5e2 .items-section .item .item-controls .item-control {
  &.prep-limit {
    color: var(--dnd5e-color-green);
  }

  &.prep-exceeded {
    color: var(--dnd5e-color-red);
  }
}

#vf-5e-sheet-addons-edit-classes .window-content .categories {
  height: 100%;

  & .scrollable {
    flex: 1;
    padding: 1rem;
    overflow: hidden auto;

    & .items-list {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow-y: auto;
      scrollbar-width: thin;
      color: var(--dnd5e-color-tan);

      & .items-header {
        height: 28px;
        margin: 2px 0;
        padding: 0;
        align-items: center;
        background: rgba(0, 0, 0, 0.05);
        border: var(--dnd5e-border-groove);
        font-weight: bold;

        & h3 {
          padding-left: 5px;
          font-family: var(--dnd5e-font-modesto);
          font-size: var(--font-size-16);
          font-weight: 700;
          text-align: left;
          border-bottom: none;
          margin: 0;
        }

        & > * {
          font-size: var(--font-size-12);
          text-align: center;
        }
      }

      & .item-list {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      & .item {
        align-items: center;
        padding: 0 2px;

        & .item-name {
          flex: 2;
          margin: 0;
          overflow: hidden;
          font-size: var(--font-size-13);
          text-align: left;
          align-items: center;
        }
      }

      & .item-controls {
        flex: 0 0 60px;
        justify-content: space-between;

        & a {
          font-size: var(--font-size-12);
          text-align: center;
        }
      }
    }
  }

  & footer {
    margin: 1rem;
    flex: 0;
  }
}

#client-settings form section[data-tab="vf-5e-sheet-addons"] .form-group > label {
  flex: 4;
}