.dnd5e2 .items-section .item {
  &.prep-limit {
    background-color: rgba(32, 91, 21, 0.1);
  }

  &.prep-exceeded {
    background-color: rgba(237, 28, 36, 0.1);
  }

  .item-controls .item-control {
    &.prep-limit {
      color: var(--dnd5e-color-green);
    }

    &.prep-exceeded {
      color: var(--dnd5e-color-red);
    }
  }
}

#client-settings form section[data-tab='vf-5e-sheet-addons'] .form-group > label {
  flex: 4;
}

.dnd5e2 .tab.spells dnd5e-inventory .controls-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  item-list-controls {
    flex-grow: 1;
  }
}

.dnd5e2 .tab.spells dnd5e-inventory.show-manager {
  item-list-controls {
    margin-right: calc(30px + 0.5rem);
  }

  .spells-manage {
    position: absolute;
    right: 1rem;
    margin-top: 0.375rem;
  }
}
