.dnd5e2 .items-section .item {
  &.prep-limit {
    background-color: rgba(32, 91, 21, 0.2);
  }

  &.prep-exceeded {
    background-color: rgba(237, 28, 36, 0.2);
  }

  & .item-controls .item-control {
    &.prep-limit {
      color: var(--dnd5e-color-green);
    }

    &.prep-exceeded {
      color: var(--dnd5e-color-red);
    }
  }
}

#client-settings form section[data-tab='vf-5e-sheet-addons'] .form-group > label {
  flex: 4;
}
